{% extends 'partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block css %}
<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}




{% block main %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Clients</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <button href="#addClientModal" type="button" class="btn btn-primary" data-bs-toggle="modal">Add New Client</button>
      </div>
    </div>
  </div>

  <!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->

  {% if clients|length > 0 %}
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Client Name</th>
          <th scope="col">Email Address</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Address Line</th>
          <th scope="col">Province</th>
        </tr>
      </thead>
      <tbody>

        {% for client in clients %}
      <tr>
        <td>{{client.clientName}}</td>
        <td>{{client.emailAddress}}</td>
        <td>{{client.phoneNumber}}</td>
        <td>{{client.addressLine1}}</td>
        <td>{{client.province}}</td>
      </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
  {% else %}
  <div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-8">
      <h3>Add First Client</h3>
      <img class=img-fluid  src="{% static 'assets/img/empty.svg' %}" alt="Skolo Online Learning">
    </div>
    <div class="col-lg-3">

    </div>
  </div>
  {% endif %}



<!-- MODALS MODALS -->
  <!-- Modals Start Here -->
  <div class="modal modal-sheet py-5" tabindex="-1" id="addClientModal">
  <div class="modal-dialog">
    <div class="modal-content rounded-6 shadow">

      <form class="" action="#" method="post" enctype="multipart/form-data">
        {% csrf_token %}


      <div class="modal-header border-bottom-0">
        <h5 class="modal-title">Add new client</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body py-0">


        {{form.as_p}}


      </div>
      <div class="modal-footer flex-column border-top-0">
        <button type="submit" class="btn btn-lg btn-primary w-100 mx-0 mb-2">Save changes</button>
      </div>

      </form>
    </div>
  </div>
</div>


{% endblock %}
