{% load static %}
{% load crispy_forms_tags %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Skolo Online Learning Invoicing System Create your own invoice online">
    <meta name="author" content="Skolo Online Learning">
    <title>Skolo Online</title>

    <link rel="canonical" href="">



    <!-- Bootstrap core CSS -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'assets/css/signin.css' %}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>



  </head>
  <body class="text-center">

<main class="form-signin">


  <form action="#" method="post">
    <img class="mb-4" src="{% static 'assets/img/logo.png' %}" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    {% csrf_token %}


    {% if messages %}
    {% for message in messages %}

    {% if message.tags == 'error' %}
    <div class="alert alert-danger">
    {{message}}
    </div>
    {% else %}
    <div class="alert alert-{{message.tags}}">
    {{message}}
    </div>
    {% endif %}

    {% endfor %}
    {% endif %}




    <div class="form-floating">
      {{form.username}}
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      {{form.password}}
      <label for="floatingPassword">Password</label>
    </div>


    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2021 Skolo Online</p>
  </form>
</main>



  </body>
</html>
