{% extends 'partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block css %}
<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}




{% block main %}


  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Products</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <a href="{% url 'create-invoice' %}"><button type="button" class="btn btn-primary">Add New Invoice</button></a>
      </div>
    </div>
  </div>

  <!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->

  {% if products|length > 0 %}
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>

          <th>Title</th>
          <th>Description</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Related Invoice</th>

        </tr>
      </thead>
      <tbody>

        {% for product in products %}
      <tr>
        <td>{{product.title}}</td>
        <td>{{product.description}}</td>
        <td>{{product.quantity}}</td>
        <td>{{product.currency}} {{product.price}}</td>
        <td></td>
      </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
  {% else %}
  <div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-8">
      <h3>Start by creating an invoice to see products listed here</h3>
      <img class=img-fluid  src="{% static 'assets/img/empty.svg' %}" alt="Skolo Online Learning">
    </div>
    <div class="col-lg-3">

    </div>
  </div>
  {% endif %}



{% endblock %}
